extends layout
block content
  h1= title
  - let image_names = ["E1.jpeg","E2.jpeg","E3.jpeg","E4.jpeg","E5.jpeg"]
   -for(let i=0; i<3; i++){
    -let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image Name k${random}` height="300px" width="300px")
    -}
  
