body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.elephantAttr {
  background-color: aquamarine;
  width: 120px;
  }

  .bonus{
    text-align: center;
    padding: 14px;
    background-color: rgba(182, 197, 43, 0.888);
    }
    .elephantupdate {
    background-color: rgb(61, 239, 132);
    width: 180px;
  }
  .detail{
    background-color: rgb(196, 118, 166);
    text-align:center;
  }  
  


  
